<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.happy.payapi.mapper.PaylogMapper" >
  <resultMap id="BaseResultMap" type="com.happy.payapi.entity.Paylog" >
    <id column="cporderno" property="cporderno" jdbcType="VARCHAR" />
    <id column="merchantid" property="merchantid" jdbcType="VARCHAR" />
    <result column="qrcodeid" property="qrcodeid" jdbcType="INTEGER" />
    <result column="paytype" property="paytype" jdbcType="VARCHAR" />
    <result column="appmount" property="appmount" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="transdata" property="transdata" jdbcType="VARCHAR" />
    <result column="notifyurl" property="notifyurl" jdbcType="VARCHAR" />
    <result column="paystate" property="paystate" jdbcType="VARCHAR" />
    <result column="paytime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="payuser" property="payuser" jdbcType="VARCHAR" />
    <result column="thirdtradeno" property="thirdtradeno" jdbcType="VARCHAR" />
    <result column="notifystate" property="notifystate" jdbcType="VARCHAR" />
    <result column="notifydata" property="notifydata" jdbcType="VARCHAR" />
    <result column="notifytime" property="notifytime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    cporderno, merchantid, qrcodeid, paytype, appmount, subject, transdata, notifyurl, 
    paystate, paytime, payuser, thirdtradeno, notifystate, notifydata, notifytime, remark, 
    updatetime, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.happy.payapi.entity.PaylogKey" >
    select 
    <include refid="Base_Column_List" />
    from paylog
    where cporderno = #{cporderno,jdbcType=VARCHAR}
      and merchantid = #{merchantid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.happy.payapi.entity.PaylogKey" >
    delete from paylog
    where cporderno = #{cporderno,jdbcType=VARCHAR}
      and merchantid = #{merchantid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.happy.payapi.entity.Paylog" >
    insert into paylog (cporderno, merchantid, qrcodeid, 
      paytype, appmount, subject, 
      transdata, notifyurl, paystate, 
      paytime, payuser, thirdtradeno, 
      notifystate, notifydata, notifytime, 
      remark, updatetime, createtime
      )
    values (#{cporderno,jdbcType=VARCHAR}, #{merchantid,jdbcType=VARCHAR}, #{qrcodeid,jdbcType=INTEGER}, 
      #{paytype,jdbcType=VARCHAR}, #{appmount,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, 
      #{transdata,jdbcType=VARCHAR}, #{notifyurl,jdbcType=VARCHAR}, #{paystate,jdbcType=VARCHAR}, 
      #{paytime,jdbcType=TIMESTAMP}, #{payuser,jdbcType=VARCHAR}, #{thirdtradeno,jdbcType=VARCHAR}, 
      #{notifystate,jdbcType=VARCHAR}, #{notifydata,jdbcType=VARCHAR}, #{notifytime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.happy.payapi.entity.Paylog" >
    insert into paylog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cporderno != null" >
        cporderno,
      </if>
      <if test="merchantid != null" >
        merchantid,
      </if>
      <if test="qrcodeid != null" >
        qrcodeid,
      </if>
      <if test="paytype != null" >
        paytype,
      </if>
      <if test="appmount != null" >
        appmount,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="transdata != null" >
        transdata,
      </if>
      <if test="notifyurl != null" >
        notifyurl,
      </if>
      <if test="paystate != null" >
        paystate,
      </if>
      <if test="paytime != null" >
        paytime,
      </if>
      <if test="payuser != null" >
        payuser,
      </if>
      <if test="thirdtradeno != null" >
        thirdtradeno,
      </if>
      <if test="notifystate != null" >
        notifystate,
      </if>
      <if test="notifydata != null" >
        notifydata,
      </if>
      <if test="notifytime != null" >
        notifytime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cporderno != null" >
        #{cporderno,jdbcType=VARCHAR},
      </if>
      <if test="merchantid != null" >
        #{merchantid,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeid != null" >
        #{qrcodeid,jdbcType=INTEGER},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="appmount != null" >
        #{appmount,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="transdata != null" >
        #{transdata,jdbcType=VARCHAR},
      </if>
      <if test="notifyurl != null" >
        #{notifyurl,jdbcType=VARCHAR},
      </if>
      <if test="paystate != null" >
        #{paystate,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="payuser != null" >
        #{payuser,jdbcType=VARCHAR},
      </if>
      <if test="thirdtradeno != null" >
        #{thirdtradeno,jdbcType=VARCHAR},
      </if>
      <if test="notifystate != null" >
        #{notifystate,jdbcType=VARCHAR},
      </if>
      <if test="notifydata != null" >
        #{notifydata,jdbcType=VARCHAR},
      </if>
      <if test="notifytime != null" >
        #{notifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.happy.payapi.entity.Paylog" >
    update paylog
    <set >
      <if test="qrcodeid != null" >
        qrcodeid = #{qrcodeid,jdbcType=INTEGER},
      </if>
      <if test="paytype != null" >
        paytype = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="appmount != null" >
        appmount = #{appmount,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="transdata != null" >
        transdata = #{transdata,jdbcType=VARCHAR},
      </if>
      <if test="notifyurl != null" >
        notifyurl = #{notifyurl,jdbcType=VARCHAR},
      </if>
      <if test="paystate != null" >
        paystate = #{paystate,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null" >
        paytime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="payuser != null" >
        payuser = #{payuser,jdbcType=VARCHAR},
      </if>
      <if test="thirdtradeno != null" >
        thirdtradeno = #{thirdtradeno,jdbcType=VARCHAR},
      </if>
      <if test="notifystate != null" >
        notifystate = #{notifystate,jdbcType=VARCHAR},
      </if>
      <if test="notifydata != null" >
        notifydata = #{notifydata,jdbcType=VARCHAR},
      </if>
      <if test="notifytime != null" >
        notifytime = #{notifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cporderno = #{cporderno,jdbcType=VARCHAR}
      and merchantid = #{merchantid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.happy.payapi.entity.Paylog" >
    update paylog
    set qrcodeid = #{qrcodeid,jdbcType=INTEGER},
      paytype = #{paytype,jdbcType=VARCHAR},
      appmount = #{appmount,jdbcType=INTEGER},
      subject = #{subject,jdbcType=VARCHAR},
      transdata = #{transdata,jdbcType=VARCHAR},
      notifyurl = #{notifyurl,jdbcType=VARCHAR},
      paystate = #{paystate,jdbcType=VARCHAR},
      paytime = #{paytime,jdbcType=TIMESTAMP},
      payuser = #{payuser,jdbcType=VARCHAR},
      thirdtradeno = #{thirdtradeno,jdbcType=VARCHAR},
      notifystate = #{notifystate,jdbcType=VARCHAR},
      notifydata = #{notifydata,jdbcType=VARCHAR},
      notifytime = #{notifytime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where cporderno = #{cporderno,jdbcType=VARCHAR}
      and merchantid = #{merchantid,jdbcType=VARCHAR}
  </update>
</mapper>