<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.happy.payapi.mapper.PaylogMapper" >
  <resultMap id="BaseResultMap" type="com.happy.payapi.entity.Paylog" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="appname" property="appname" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="returnurl" property="returnurl" jdbcType="VARCHAR" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="paytype" property="paytype" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="goodsdesc" property="goodsdesc" jdbcType="VARCHAR" />
    <result column="orderno" property="orderno" jdbcType="VARCHAR" />
    <result column="thirdorderno" property="thirdorderno" jdbcType="VARCHAR" />
    <result column="reqdata" property="reqdata" jdbcType="VARCHAR" />
    <result column="rspdata" property="rspdata" jdbcType="VARCHAR" />
    <result column="paychannelno" property="paychannelno" jdbcType="VARCHAR" />
    <result column="paystatus" property="paystatus" jdbcType="VARCHAR" />
    <result column="errorcode" property="errorcode" jdbcType="VARCHAR" />
    <result column="errormsg" property="errormsg" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, appid, appname, amount, returnurl, ext, paytype, source, goodsdesc, orderno, 
    thirdorderno, reqdata, rspdata, paychannelno, paystatus, errorcode, errormsg, remark, 
    updatetime, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from paylog
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from paylog
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.happy.payapi.entity.Paylog" >
    insert into paylog (uuid, appid, appname, 
      amount, returnurl, ext, 
      paytype, source, goodsdesc, 
      orderno, thirdorderno, reqdata, 
      rspdata, paychannelno, paystatus, 
      errorcode, errormsg, remark, 
      updatetime, createtime)
    values (#{uuid,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{appname,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{returnurl,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, 
      #{paytype,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{goodsdesc,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=VARCHAR}, #{thirdorderno,jdbcType=VARCHAR}, #{reqdata,jdbcType=VARCHAR}, 
      #{rspdata,jdbcType=VARCHAR}, #{paychannelno,jdbcType=VARCHAR}, #{paystatus,jdbcType=VARCHAR}, 
      #{errorcode,jdbcType=VARCHAR}, #{errormsg,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.happy.payapi.entity.Paylog" >
    insert into paylog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="appname != null" >
        appname,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="returnurl != null" >
        returnurl,
      </if>
      <if test="ext != null" >
        ext,
      </if>
      <if test="paytype != null" >
        paytype,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="goodsdesc != null" >
        goodsdesc,
      </if>
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="thirdorderno != null" >
        thirdorderno,
      </if>
      <if test="reqdata != null" >
        reqdata,
      </if>
      <if test="rspdata != null" >
        rspdata,
      </if>
      <if test="paychannelno != null" >
        paychannelno,
      </if>
      <if test="paystatus != null" >
        paystatus,
      </if>
      <if test="errorcode != null" >
        errorcode,
      </if>
      <if test="errormsg != null" >
        errormsg,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appname != null" >
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="returnurl != null" >
        #{returnurl,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="goodsdesc != null" >
        #{goodsdesc,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="thirdorderno != null" >
        #{thirdorderno,jdbcType=VARCHAR},
      </if>
      <if test="reqdata != null" >
        #{reqdata,jdbcType=VARCHAR},
      </if>
      <if test="rspdata != null" >
        #{rspdata,jdbcType=VARCHAR},
      </if>
      <if test="paychannelno != null" >
        #{paychannelno,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=VARCHAR},
      </if>
      <if test="errorcode != null" >
        #{errorcode,jdbcType=VARCHAR},
      </if>
      <if test="errormsg != null" >
        #{errormsg,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.happy.payapi.entity.Paylog" >
    update paylog
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appname != null" >
        appname = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="returnurl != null" >
        returnurl = #{returnurl,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null" >
        paytype = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="goodsdesc != null" >
        goodsdesc = #{goodsdesc,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        orderno = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="thirdorderno != null" >
        thirdorderno = #{thirdorderno,jdbcType=VARCHAR},
      </if>
      <if test="reqdata != null" >
        reqdata = #{reqdata,jdbcType=VARCHAR},
      </if>
      <if test="rspdata != null" >
        rspdata = #{rspdata,jdbcType=VARCHAR},
      </if>
      <if test="paychannelno != null" >
        paychannelno = #{paychannelno,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        paystatus = #{paystatus,jdbcType=VARCHAR},
      </if>
      <if test="errorcode != null" >
        errorcode = #{errorcode,jdbcType=VARCHAR},
      </if>
      <if test="errormsg != null" >
        errormsg = #{errormsg,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.happy.payapi.entity.Paylog" >
    update paylog
    set appid = #{appid,jdbcType=VARCHAR},
      appname = #{appname,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      returnurl = #{returnurl,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR},
      paytype = #{paytype,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      goodsdesc = #{goodsdesc,jdbcType=VARCHAR},
      orderno = #{orderno,jdbcType=VARCHAR},
      thirdorderno = #{thirdorderno,jdbcType=VARCHAR},
      reqdata = #{reqdata,jdbcType=VARCHAR},
      rspdata = #{rspdata,jdbcType=VARCHAR},
      paychannelno = #{paychannelno,jdbcType=VARCHAR},
      paystatus = #{paystatus,jdbcType=VARCHAR},
      errorcode = #{errorcode,jdbcType=VARCHAR},
      errormsg = #{errormsg,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
    <select id="queryByOrderno" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from paylog
    where orderno = #{orderno,jdbcType=VARCHAR}
  </select>
</mapper>